<div class="wrapper">

    <form [formGroup]="formGroup">

        <h1 mat-dialog-title>Save to Post</h1>

        <mat-dialog-content>

            <table>

                <tr>

                    <td>

                        <mat-form-field style="width: 440px;">

                            <input matInput
                                   formControlName="name"
                                   placeholder="Filename"
                                   autofocus
                                   required>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field style="width: 440px;">

                            <textarea matInput
                                      placeholder="Description"
                                      formControlName="description"></textarea>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field class="example-chip-list"
                                        style="width: 440px;">

                            <mat-chip-list #chipList>

                                <mat-chip *ngFor="let tag of tags"
                                          [selectable]="true"
                                          [removable]="true"
                                          (removed)="remove(tag)">

                                    {{ tag }}

                                    <mat-icon matChipRemove>cancel</mat-icon>

                                </mat-chip>

                                <input placeholder="Tags"
                                       #fruitInput
                                       [formControl]="tagsControl"
                                       [matAutocomplete]="auto"
                                       [matChipInputFor]="chipList"
                                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                       [matChipInputAddOnBlur]="true"
                                       (matChipInputTokenEnd)="add($event)">

                            </mat-chip-list>

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

                                <mat-option *ngFor="let tag of tagsFiltered" [value]="tag">

                                    {{ tag }}

                                </mat-option>

                            </mat-autocomplete>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-slide-toggle formControlName="visibility">Public</mat-slide-toggle>

                    </td>

                </tr>

            </table>

        </mat-dialog-content>

        <mat-dialog-actions align="end">

            <button mat-button mat-dialog-close>Cancel</button>

            <button mat-button
                    [disabled]="!formGroup.valid"
                    (click)="post()">

                Create Post

            </button>

        </mat-dialog-actions>

    </form>

</div>


