<div class="wrapper">

    <mat-toolbar color="primary" class="mat-elevation-z2">

        <div class="left">

            <button mat-icon-button
                    (click)="sidenavService.toggle()">

                <mat-icon>menu</mat-icon>

            </button>

            <teximate [text]="'Kubernetes Spec Tools v0.0.1'" [enter]="enterAnimation"></teximate>

        </div>

        <div class="right">

            <button mat-raised-button
                    color="warn"
                    [routerLink]="['/validator']">

                <mat-icon>spellcheck</mat-icon>

                Validator

            </button>

            <button mat-raised-button
                    color="accent"
                    disabled
                    (click)="postService.open()">

                <mat-icon>add_comment</mat-icon>

                Create Post

            </button>

            <button mat-raised-button
                    disabled
                    (click)="loginService.open()">

                Login

            </button>

        </div>

    </mat-toolbar>

</div>

