<div class="wrapper">

    <mat-toolbar color="primary" class="mat-elevation-z2">

        <div class="left">

            <button mat-icon-button
                    (click)="menuClick()">

                <mat-icon>menu</mat-icon>

            </button>

            <h1>Kubernetes Spec Generator v0.0.1</h1>

        </div>

        <div class="right">

            <button mat-raised-button
                    color="warn"
                    (click)="postService.open()">

                <mat-icon>spellcheck</mat-icon>

                Validator

            </button>

            <button mat-raised-button
                    color="accent"
                    (click)="postService.open()">

                <mat-icon>add_comment</mat-icon>

                Create Post

            </button>

            <button mat-raised-button
                    (click)="loginService.open()">

                Login

            </button>

        </div>

    </mat-toolbar>

</div>

