:host {
    
    .wrapper {
        
        mat-toolbar, .left {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            
            a {
                
                color: #e1e1e1;
                
                &:hover {
                    
                    color: mediumpurple;
                    
                }
                
            }
            
        }
        
        .text {
            
            margin-left: 15px;
            teximate {
                
                font-size: 15px;
                
            }
            
        }
        
        mat-toolbar {
            
            .left {
                
                flex: 1;
                
            }
            
            .right {
                
                flex: 0 1 100px;
                
                button {
                    
                    margin-left: 20px;
                    
                }
                
            }
            
        }
        
    }
    
}
