<div class="wrapper">


    <mat-toolbar color="primary" class="mat-elevation-z2">

        <div class="left">

            <button mat-icon-button
                    (click)="menuClick()">

                <mat-icon>menu</mat-icon>

            </button>

            <h1>Kubernetes Spec Generator v0.0.1</h1>

        </div>

        <div class="right">

            <button mat-raised-button
                    (click)="authService.login()"
                    color="primary">

                Login

            </button>

        </div>

    </mat-toolbar>

</div>

