<div class="wrapper">


    <div class="row">

        <div class="left">

            <div class="name">

                {{ file?.name }}

            </div>

        </div>

        <div class="right">

            <div class="tags">

                <mat-chip-list>

                    <mat-chip *ngFor="let tag of file?.tags">

                        {{ tag.name }}

                    </mat-chip>

                </mat-chip-list>

            </div>

        </div>

    </div>

    <prism [code]="file?.code" language="yaml"></prism>

    <div class="row">

        <div class="left">

            <img *ngIf="file?.email"
                 ngxGravatar
                 [email]="file?.email"
                 size="40"
                 [round]="false">

            <div class="username"
                 [routerLink]="['/users/' + file?.username]">

                {{ file?.username }}

            </div>

            <div class="date">

                {{ file?.stampCreated | date: 'medium' }}

            </div>

        </div>

        <div class="right">

            <div class="horizontal-divider"></div>

            <button mat-button disabled>

                <mat-icon>thumb_up</mat-icon>

                Upvote

            </button>

            <button mat-button disabled>

                <mat-icon>thumb_down</mat-icon>

                Downvote

            </button>

            <div class="horizontal-divider"></div>

            <button mat-button disabled>

                <mat-icon>share</mat-icon>

                Share

            </button>

            <div class="horizontal-divider"></div>

            <button mat-button>

                <mat-icon>code</mat-icon>

                Copy

            </button>

        </div>

    </div>
</div>
