:host {
    
    .wrapper {
        
        display: flex;
        min-width: 200px;
        monaco-editor {
            height: 500px;
            width: 500px;
            display: block;
        }
        input {
            
            margin-left: -28px;
            font-size: 17px;
            border: 0;
            outline: none;
            background: transparent;
            width: 204px;
            
        }
        
        mat-ink-bar {
            
            display: none !important;
            
        }
        
        .button {
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 20px;
            
            mat-icon {
                
                cursor: pointer !important;
                
                font-size: 18px;
                
                &:hover {
                    
                    color: red;
                    
                }
                
            }
            
        }
        
        input {
            
            padding: 10px;
            
        }
        
    }
    
}
