:host {
    
    .wrapper {
        
        background: #fff;
        
        display: flex;
        flex-direction: row;
        
        padding: 10px;
        
        .left {
        
        }
        
        .right {
        
        }
        
    }
    
}
