<div class="wrapper">

    <div class="left">

        <form [formGroup]="formGroup">

            <mat-form-field>

                <mat-select placeholder="Select Type.."
                            formControlName="schemaType">

                    <mat-option *ngFor="let type of schemaTypes"
                                [value]="type">

                        {{ type }}

                    </mat-option>

                </mat-select>

            </mat-form-field>

        </form>

    </div>

    <div class="right">

    </div>

</div>
