:host {
    
    mat-sidenav-container {
        
        background: url('../assets/k8-logo-half.png') no-repeat bottom right;
        
        position: fixed;
        top: 63px;
        bottom: 0;
        left: 0;
        right: 0;
        
        mat-sidenav-content {
            
            //overflow: hidden;
            
        }
        
    }
    
    .editor {
        
        position: absolute;
        height: 500px;
        bottom: 0;
        left: 0;
        right: 0;
        
        .split-example {
            height: 500px;
        }
        
        split-area {
            
            padding: 10px;
            background: #e6e6e6;
            
        }
        
    }
    
}
