:host {
    
    .editor {
        
        position: absolute;
        height: 500px;
        bottom: 0;
        left: 0;
        right: 0;
        
        .split-example {
            height: 500px;
        }
        
        split-area {
            
            padding: 10px;
            background: #e6e6e6;
            
        }
        
    }
    
}
