<mat-toolbar color="primary" class="mat-elevation-z2">

    <button mat-icon-button
            (click)="menuClick()">

        <mat-icon>menu</mat-icon>

    </button>

    <h1>Kubernetes Spec Generator v0.0.1</h1>

</mat-toolbar>


<div class="editor">

    <app-controls></app-controls>

    <div class="split-example">

        <split direction="horizontal">

            <split-area size="15">

                <app-editor></app-editor>

            </split-area>

            <split-area size="70">

                <mat-tab-group>

                    <mat-tab label="deployment.yaml">

                        <app-generator></app-generator>

                    </mat-tab>

                    <mat-tab label="service.yaml">

                        <app-generator></app-generator>

                    </mat-tab>

                </mat-tab-group>

            </split-area>

            <split-area size="15">

                <app-editor></app-editor>

            </split-area>

        </split>

    </div>

</div>

<ng-progress [color]="'yellow'"
             [thick]="true"></ng-progress>
