<div class="wrapper">

    <h1 mat-dialog-title>Create Post</h1>

    <mat-dialog-content>

        <!--<nav mat-tab-nav-bar>-->

        <!--<a mat-tab-link-->
        <!--*ngFor="let tab of postService.tabs">-->

        <!--{{ tab.label }}-->

        <!--</a>-->


        <!--</nav>-->

        <mat-tab-group>

            <mat-tab>

                <ng-template mat-tab-label>

                    <app-post-tab-label label="deployment.yaml"></app-post-tab-label>

                </ng-template>

                <ngx-codemirror [(ngModel)]="postService.data"
                                autoFocus
                                [options]="{

                        lineNumbers: true,
                        theme: 'material',
                        mode: 'yaml'

                  }"></ngx-codemirror>

            </mat-tab>

        </mat-tab-group>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button
                (click)="post()"
                [disabled]="!formGroup.valid"
                cdkFocusInitial>

            Post

        </button>

    </mat-dialog-actions>

</div>
