<div class="wrapper">

    <h1 mat-dialog-title>Create Post</h1>

    <mat-dialog-content>

        <mat-tab-group #tabGroup
                       disableRipple="true"
                       (selectedIndexChange)="selectedIndexChange($event)"
                       [dynamicHeight]="true">

            <mat-tab *ngFor="let tab of postService.tabs; let i = index">

                <ng-template mat-tab-label>

                    <app-post-tab-label [label]="tab.label"
                                        [autoFocus]="tab.autoFocus"
                                        [index]="i"></app-post-tab-label>

                </ng-template>

            </mat-tab>

        </mat-tab-group>

        <monaco-editor theme="vs-dark"
                       [file]="postService.files[currentIndex]"
                       [options]="monacoOptions"></monaco-editor>

    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button mat-button mat-dialog-close>Cancel</button>

        <button mat-button
                (click)="post()"
                cdkFocusInitial>

            Post

        </button>

    </mat-dialog-actions>

</div>
