//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~ngx-toastr/toastr.css";

body {
    
    margin: 0;
    padding: 0;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #e1e1e1;
    
    background: linear-gradient(90deg, #29262a 0%, #131313 100%);
}

form {
    
    height: 100%;
}

//mat-tab-group, .mat-tab-body, .mat-tab-body-content, .mat-tab-body-wrapper {
//
//    height: 100%;
//
//}

//.mat-toolbar.mat-primary {
//
//    background: linear-gradient(0deg, #223994 0%, #3a47d5 100%);
//
//}

a {
    
    color: mediumpurple;
    
}

ngx-monaco-editor, .monaco-editor, .editor {
    .editorContainer {
        height: calc(100vh - 100px) !important;
    }
    height: 100% !important;
    width: 100%;
    display: block;
    
}

