//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~ngx-toastr/toastr.css";

body {
    
    margin: 0;
    padding: 0;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
    background: linear-gradient(90deg, #29262a 0%, #131313 100%);
}

form {
    
    height: 100%;
}

//mat-tab-group, .mat-tab-body, .mat-tab-body-content, .mat-tab-body-wrapper {
//
//    height: 100%;
//
//}

.mat-toolbar.mat-primary {
    
    background: linear-gradient(0deg, #223994 0%, #3a47d5 100%);
    
}

monaco-editor {
    
    height: 100%;
    width: 100%;
    display: block;
    
}

