@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";

body {
    
    margin: 0;
    padding: 0;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

//mat-tab-group, .mat-tab-body, .mat-tab-body-content, .mat-tab-body-wrapper {
//
//    height: 100%;
//
//}

monaco-editor {
    
    height: 100%;
    width: 100%;
    display: block;
    
}

