<div class="wrapper">

    <div class="left">

        <app-posts></app-posts>

    </div>

    <div class="right">

        <img src="../../assets/loog-dark.png">

        <div class="features" style="margin-top: 30px;">

            <h1>Changelog</h1>

            <p>2018-01-03</p>

            <ul>

                <li>Integrated Disqus</li>
                <li>Post Page Feeds</li>
                <li>Create New Posts</li>
                <li>View Posts</li>
                <li>Users Profile Page</li>
                <li>User Login</li>
                <li>User Registration</li>

            </ul>

            <p>2018-01-01</p>

            <ul>

                <li>Real-time Spec Validator</li>
                <li>REST API Services</li>
                <li>Site Launch</li>

            </ul>

            <div style="text-align: center;margin: 50px 0 50px;">

                <a [routerLink]="['/contact']">Questions or Comments?</a>

            </div>

        </div>

    </div>

</div>

