<div class="wrapper">

    <div class="top">

        <div class="left">

            <!--<div class="tabs">-->

            <!--<div class="tab" *ngFor="let tab of tabs">-->

            <!--<mat-form-field style="width: 145px">-->

            <!--<input matInput-->
            <!--style="text-align: left"-->
            <!--[(ngModel)]="tab.name"-->
            <!--placeholder="Filename">-->

            <!--</mat-form-field>-->

            <!--<mat-icon style="cursor: pointer;">close</mat-icon>-->

            <!--</div>-->

            <!--</div>-->

            <ngx-monaco-editor class="editor"
                               [(ngModel)]="code"
                               [options]="{}"
                               [model]="model"></ngx-monaco-editor>

        </div>

        <div class="right">

            <p>This validator performs real time queries against a Kubernetes Cluster deployed on GKE.</p>

            <p>Current version: <b>1.11.2-gke.9</b></p>

            <p>You can POST to https://validator.k8specs.com/validate with the body being your spec.</p>

            <pre>curl -X POST -d @deployment.yaml
https://validator.k8specs.com/validate</pre>

            <p style="margin-top: 20px;">

                Questions, concerns or ideas?<br>
                <a [routerLink]="['/contact']">Contact me!</a>

            </p>

        </div>

    </div>

    <div class="bottom">

        <div class="head">

            <div class="left">


            </div>

            <div class="right">

                <button mat-raised-button
                        color="warn"
                        (click)="validate()"
                        style="background: rebeccapurple">

                    <mat-icon>spellcheck</mat-icon>

                    Validate

                </button>

                <button mat-raised-button
                        color="primary"
                        [disabled]="!(validated && loginService.isLoggedIn())"
                        (click)="buttonPostClick()">

                    <mat-icon>add</mat-icon>

                    Post..

                </button>

            </div>

        </div>

        <div class="console">

            {{ consoleOutputs }}

        </div>

    </div>

</div>
