<div class="wrapper">

    <div class="top">

        <ngx-monaco-editor theme="vs-dark"
                           [(ngModel)]="code"
                           [options]="{baseUrl: '/wtf',theme: 'vs-dark', language: 'yaml'}"></ngx-monaco-editor>

    </div>

    <div class="bottom">

        <div class="head">

            <div class="left">


            </div>

            <div class="right">

                <button mat-raised-button
                        color="primary"
                        (click)="validate()">

                    <mat-icon>spellcheck</mat-icon>

                    Validate

                </button>

            </div>

        </div>

        <div class="console">

            {{ consoleOutputs }}

        </div>

    </div>

</div>
